.hero {
  background-image: url("../img/jumbo2.png");
  background-size: cover;
  height: 695px;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;

  h1 {
    margin-bottom: 45px;
    margin-top: 45px;
  }
  
  h3 {
    margin: 0;
  }
}
