.portfolio {
  .tile-text {
    height: 95px;
    background-color: $white;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h5,
    p {
      text-transform: capitalize;
      text-align: center;
    }

    h5 {
      margin: 0;
    }

    p {
      margin: 0;
      font-style: italic;
    }
  }
}
