.team{
  .social{
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 50px;
    width: 110px;
    display: flex;
    justify-content: center;
    div {
      margin-right: 10px;
      
      &:last-of-type{
        margin-right: 0;
      }
    }
  }
  p {
    text-align: center;
  }
}