//description for tiles pictures etx
.util-descrip {
  h5,
  p {
    text-transform: capitalize;
    text-align: center;
  }

  h5 {
    margin: 0;
  }

  p {
    margin: 0;
    font-style: italic;
  }
}

//rounded responsive img with margin under it
.util-round-img {
  margin-bottom: 15px;
  border-radius: 50%;
  border: solid 5px $white;
}

//responsive squere img
.squere-img {
  position: relative;
  width: 100%;

  img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.squere-img:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

//grey bg for section
.util-bg {
  background-color: $bg-grey;
}

//buttonns
.util-btn {
  color: $white;
  background-color: $yellow;
  font-size: 14px;
  font-weight: bolder;
  padding: 20px 50px;

  &:hover {
    color: $yellow;
    background-color: $white;
  }
}

//sections style
.util-section {
  padding: 110px 230px;

  h2,
  h6 {
    text-align: center;
  }

  h2 {
    color: $black;
    text-transform: uppercase;
  }

  h6 {
    color: $grey;
    font-style: italic;
    margin-bottom: 75px;
  }
}

//fa-style 1
.util--fa-style{
  width: 70px;
  height: 70px;
  border: 3px solid $yellow; 
  font-size: 40px;
  border-radius: 40px;

  i {
    color: $yellow;
  }

  &:hover {
    background-color: $yellow;

    i{
      color: $white;
    }
  }
}

//fa-style 2
.util--fa-style2{
  width: 30px;
  height: 30px;
  border: 2px solid $black; 
  font-size: 16px;
  border-radius: 50%;

  i {
    color: $black;
  }

  &:hover {
    background-color: $black;

    i{
      color: $white;
    }
  }
}
